<table>
  <% (0..7).reverse_each do |column| %>
    <tr>
      <% (0..7).each do |row| %>

        <% class_highlight = piece_in_row_and_column?(@selected_piece, row, column) ? 'highlighted' : "" %>
        <td class="<%= class_highlight %>" data-column=<%= column %> data-row=<%= row %>> <!-- this gives a col and row to table cells-->



        <%= form_for(:piece, controller: "pieces", method: "patch") do |f| %>
            <%= f.hidden_field :coordinate_x, value: row %>
            <%= f.hidden_field :coordinate_y, value: column %>
            <%= f.submit 'Move' %>
        <% end %>

        </td>

      <% end  %>
    </tr>
  <% end %> 
</table>


